:root {
  --text-color: rgb(228, 228, 228);
  --background-aside: #404345;
  --background-main: #272727;
  --yellow:rgb(255, 225, 0);
  --purple: rgb(197, 0, 197);
  --green: rgb(93, 179, 93);
  --background-counter: #2B2B2B;
}

@font-face {
  font-family: intelliJFont;
  src: url(fonts/JetBrainsMono[wght].ttf);
}

@font-face {
  font-family: intelliJFontItalic;
  src: url(fonts/JetBrainsMono-Italic[wght].ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: intelliJFont;
  font-size: 15px;
  color: var(--text-color);
}

body {
  min-height: 100vh;
}

aside {
  background-color: var(--background-aside);
  padding: 1%;
}

main {
  background-color: var(--background-main);
  min-height: 90vh;
}

li:hover {
  background-color: var(--background-main);
}

h1, h2 {
  color: white;
}

.orangeText {
  color: orange;
}

.whiteText {
  color: white;
}

.yellowText {
  color: var(--yellow);
}

.purpleText {
  color: var(--purple);
}

.greenText {
  color: var(--green);
}

.functionContent {
  margin-left: 10%;
  margin-right: 10%;
}

#LineCounter {
  background-color: var(--background-counter);
}

article {
  margin-top: 4%;
  margin-left: -50px;
}

iframe {
  position: absolute;
  bottom: 0;
}

form, p {
  margin-left: 10%;
  margin-right: 10%;
}

input{
  color: black;
}

/* Modificaciones bootstrap */
.row {
  --bs-gutter-x: 0 !important;
}

/* Media queries*/
@media all and (max-width: 1024px) {
  h1 {
    text-align: center;
  }

  aside {
    text-align: center;
  }

  #LineCounter {
    display: none;
  }

  iframe {
    display: none;
  }

  article {
    margin-left: 5%;
  }
}

@media all and (max-width: 850px) {
  * {
    font-size: 18px;
  }

  span {
    font-size: 12px;
  }

  article {
    margin-left: 1%;
  }
}

@media all and (max-width: 620px) {
  * {
    font-size: 13px;
  }

  span {
    font-size: 9px;
  }

  article {
    margin: 1%;
  }
}

@media all and (max-width: 500px) {
  * {
    font-size: 10px;
  }

  span {
    font-size: 6px;
  }


}