:root {
  --text-color: rgb(228, 228, 228);
  --background-aside: #404345;
  --background-main: #272727;
  --yellow: rgb(255, 225, 0);
  --purple: rgb(243, 115, 243);
  --green: rgb(122, 230, 122);
  --background-counter: #2B2B2B;
  --background-caption:rgba(0, 0, 0, 0.89);
}

@font-face {
  font-family: intelliJFont;
  src: url(fonts/JetBrainsMono[wght].ttf);
}

@font-face {
  font-family: intelliJFontItalic;
  src: url(fonts/JetBrainsMono-Italic[wght].ttf);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: intelliJFont;
  font-size: 18px;
  color: var(--text-color);
}

body {
  min-height: 100vh;
}

aside {
  background-color: var(--background-aside);
  padding-top: 1%;
}

#menu-title{
  font-size: 30px;
}

main {
  background-color: var(--background-main);
  min-height: 90vh;
}

li:hover {
  background-color: var(--background-main);
}

h1, h2 {
  color: white;
  margin-left: 10%;
}

.orangeText {
  color: orange !important;
}

.yellowText {
  color: var(--yellow);
}

.purpleText {
  color: var(--purple) !important;
}

.greenText {
  color: var(--green) !important;
}

#LineCounter {
  background-color: var(--background-counter);
}

article {
  margin-top: 4%;
  margin-left: -25px;
}

iframe {
  position: relative;
  bottom: 0;
}

form, p {
  margin-left: 10%;
  margin-right: 10%;
}

input, textarea {
  color: black;
}

nav {
  margin-bottom: 5%;
}

a{
  color: white !important;
}
nav>a {
  margin: 2%;
}

header {
  display: none;
}

#portfolioTitulo {
  margin: 0;
  text-align: center;
}

img {
  width: 75%;
  margin: 0 auto;
}

#carrousel {
  padding-top: 5%;
  margin-left: 3%;
  text-align: center;
}

.imageCaption {
  background-color: var(--background-caption);
  text-align: center;
}

#darkMode {
  position: fixed;
  bottom: 1%;
  right: 1%;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  margin-left: 2px;
  margin-right: 2px;
  background-color: var(--background-aside);
}

body.dark-theme > * {
  filter: invert(100%);
}

body.dark-theme > main > article > section > form > div > input{
  background-color: white;
  filter: invert(100%);
}

body.dark-theme > aside > iframe , body.dark-theme > main > article > section > ul > li > img{
  filter: invert(100%);
}

/* Modificaciones bootstrap */
.row {
  --bs-gutter-x: 0 !important;
}

/* Media queries*/

@media all and (max-width: 850px) {
  * {
    font-size: 18px;
  }

  h1, h2 {
    text-align: center;
    padding-top: 10%;
  }

  span {
    font-size: 12px;
  }

  article {
    margin-left: 1%;
  }
}

@media all and (max-width: 620px) {
  * {
    font-size: 15px;
  }

  span {
    font-size: 9px;
  }

  article {
    margin: 1%;
  }
}

@media all and (max-width: 500px) {
  * {
    font-size: 15px;
  }

  span {
    font-size: 12px;
  }
}

@media all and (max-width: 430px) {
  span {
    font-size: 9px;
  }
}